
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styling */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px;
    background-color: #b14166;
    color: white;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo {
    display: flex;
    align-items: center;
}


/* Slideshow Styling */
.slideshow {
    position: relative;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.slides {
    display: none;
}

.slides img {
    width: 100%;
    height: auto;
}

/* Summary Section */
.home {
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    background-color: #a4a8b3;
    color: #333;
}

.home h2 {
    color: #4131a0;
    margin-bottom: 10px;
}


nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

/* Responsive Styles */
@media screen and (max-width: 800px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        background-color: rgb(197, 74, 97);
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .menu-icon {
        display: flex;
    }

    .nav-links.active {
        display: flex;
    }

    /* Transform the menu icon into a cross when active */
    .menu-icon.change .bar1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-icon.change .bar2 {
        opacity: 0;
    }

    .menu-icon.change .bar3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
